*{
  font-family: 'Roboto', sans-serif;
}

.heading{
  padding-top:10px;
  padding-bottom: 10px;
  font-size: 24px !important;
}

h2{
  font-size: 22px !important;
}

h3{
  font-size:20px !important;
}

.shadow-none{
  box-shadow: none !important;
}